.home-price {
    font-weight: 600;
    color: blue;
}

.home-area {
    font-weight: 600;
    color: red;
}

.row.g-4 {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-4, .col-md-6, .col-sm-1 {
    display: flex;
    justify-content: stretch;
}

.card-city {
    margin-top: -15px;
    color: navy;
}

.home-card-details {
    margin-top: -15px !important;
    margin-bottom: -15px;
}

.btn-pagination {
    margin-top: -5px;
}

